aside{
    background-image: url(../assets/images/Background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
 
   border-radius: 0.75rem;

  & .aside-container{
      padding: 2rem;
     
  }
  & img{
     
      width: 2.866rem;
      height: auto;
  }
  & h1{
      padding-top: 1rem;
       font:400 2.5rem var( --font-family-1);
       color: #FF5959;
  }
  & p{
      padding-top: 0.25rem;
      font: var(--text-sm);
  }
}